<div class="wrapper wrapper_padding clearfix" >
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>The Missing Persons Database contains information about missing persons that can be entered by anyone; however before it appears as a case on NamUs, the information is verified. NamUs provides a user with a variety of resources, including the ability to print missing persons posters and receive free biometric collection and testing assistance. Other resources include links to state clearinghouses, medical examiner and coroner offices, law enforcement agencies, victim assistance groups and pertinent legislation. </p>
  </div>

</div>